/*
* @Author: Marte Chen
* @Date:   2017-12-14 21:44:14
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-15 17:19:57
*/

html{
    background-color: #eee;
}
body{
    width:1366px;
}

button{
    width:50px;
    height:50px;
    line-height:50px;
}
#content{
    width:900px;
    margin:40px auto;
    box-shadow:3px 3px 3px black;
}

#fi,#er,#san,#si,#wu{
    width:100%;
    font-size:0px;
}

.disinline{
    display: inline-block;
    font-size:20px;
}
.wrap{
width: 100px;
height: 100px;
margin: 0 auto;
position: relative;
transform-style: preserve-3d;
}
.wrap div{
line-height:100px;
text-align:center;
width: 100px;
height: 100px;
position: absolute;
}

.front{
        transform: translateZ(50px);
}

.back{
        transform: rotateY(180deg) translateZ(50px);
}

.top{
        transform: rotateX(90deg) translateZ(50px);
}

.bottom{
        transform: rotateZ(180deg) rotateY(180deg) rotateX(90deg) translateZ(50px);
}

.left{
        transform: rotateY(-90deg) translateZ(50px);
}
.right{
        transform: rotateY(90deg) translateZ(50px);
}

.front{
    background-image:url('../image/front0.jpg');
    background-repeat:no-repeat;
}

.left{
    background-image:url('../image/left0.jpg');
    background-repeat:no-repeat;
}
.back{
    background-image:url('../image/back0.jpg');
    background-repeat:no-repeat;
}
.right{
    background-image:url('../image/right0.jpg');
    background-repeat:no-repeat;
}

.top{
    background-image:url('../image/top0.jpg');
    background-repeat:no-repeat;
}


.bottom{
    background-image:url('../image/bottom0.jpg');
    background-repeat:no-repeat;
}



.front1-1{
    background-position:0% 0%;
}
.front1-2{
    background-position:12.5% 0%;
}
.front1-3{
    background-position:25% 0%;
}
.front1-4{
    background-position:37.5% 0%;
}
.front1-5{
    background-position:50% 0%;
}
.front1-6{
    background-position:62.5% 0%;
}
.front1-7{
    background-position:75% 0%;
}
.front1-8{
    background-position:87.5% 0%;
}
.front1-9{
    background-position:100% 0%;
}

.front2-1{
    background-position:0% 25%;
}
.front2-2{
    background-position:12.5% 25%;
}
.front2-3{
    background-position:25% 25%;
}
.front2-4{
    background-position:37.5% 25%;
}
.front2-5{
    background-position:50% 25%;
}
.front2-6{
    background-position:62.5% 25%;
}
.front2-7{
    background-position:75% 25%;
}
.front2-8{
    background-position:87.5% 25%;
}
.front2-9{
    background-position:100% 25%;
}

.front3-1{
    background-position:0% 50%;
}
.front3-2{
    background-position:12.5% 50%;
}
.front3-3{
    background-position:25% 50%;
}
.front3-4{
    background-position:37.5% 50%;
}
.front3-5{
    background-position:50% 50%;
}
.front3-6{
    background-position:62.5% 50%;
}
.front3-7{
    background-position:75% 50%;
}
.front3-8{
    background-position:87.5% 50%;
}
.front3-9{
    background-position:100% 50%;
}

.front4-1{
    background-position:0% 75%;
}
.front4-2{
    background-position:12.5% 75%;
}
.front4-3{
    background-position:25% 75%;
}
.front4-4{
    background-position:37.5% 75%;
}
.front4-5{
    background-position:50% 75%;
}
.front4-6{
    background-position:62.5% 75%;
}
.front4-7{
    background-position:75% 75%;
}
.front4-8{
    background-position:87.5% 75%;
}
.front4-9{
    background-position:100% 75%;
}

.front5-1{
    background-position:0% 100%;
}
.front5-2{
    background-position:12.5% 100%;
}
.front5-3{
    background-position:25% 100%;
}
.front5-4{
    background-position:37.5% 100%;
}
.front5-5{
    background-position:50% 100%;
}
.front5-6{
    background-position:62.5% 100%;
}
.front5-7{
    background-position:75% 100%;
}
.front5-8{
    background-position:87.5% 100%;
}
.front5-9{
    background-position:100% 100%;
}


.left1-1{
    background-position:0% 0%;
}
.left1-2{
    background-position:12.5% 0%;
}
.left1-3{
    background-position:25% 0%;
}
.left1-4{
    background-position:37.5% 0%;
}
.left1-5{
    background-position:50% 0%;
}
.left1-6{
    background-position:62.5% 0%;
}
.left1-7{
    background-position:75% 0%;
}
.left1-8{
    background-position:87.5% 0%;
}
.left1-9{
    background-position:100% 0%;
}

.left2-1{
    background-position:0% 25%;
}
.left2-2{
    background-position:12.5% 25%;
}
.left2-3{
    background-position:25% 25%;
}
.left2-4{
    background-position:37.5% 25%;
}
.left2-5{
    background-position:50% 25%;
}
.left2-6{
    background-position:62.5% 25%;
}
.left2-7{
    background-position:75% 25%;
}
.left2-8{
    background-position:87.5% 25%;
}
.left2-9{
    background-position:100% 25%;
}

.left3-1{
    background-position:0% 50%;
}
.left3-2{
    background-position:12.5% 50%;
}
.left3-3{
    background-position:25% 50%;
}
.left3-4{
    background-position:37.5% 50%;
}
.left3-5{
    background-position:50% 50%;
}
.left3-6{
    background-position:62.5% 50%;
}
.left3-7{
    background-position:75% 50%;
}
.left3-8{
    background-position:87.5% 50%;
}
.left3-9{
    background-position:100% 50%;
}

.left4-1{
    background-position:0% 75%;
}
.left4-2{
    background-position:12.5% 75%;
}
.left4-3{
    background-position:25% 75%;
}
.left4-4{
    background-position:37.5% 75%;
}
.left4-5{
    background-position:50% 75%;
}
.left4-6{
    background-position:62.5% 75%;
}
.left4-7{
    background-position:75% 75%;
}
.left4-8{
    background-position:87.5% 75%;
}
.left4-9{
    background-position:100% 75%;
}

.left5-1{
    background-position:0% 100%;
}
.left5-2{
    background-position:12.5% 100%;
}
.left5-3{
    background-position:25% 100%;
}
.left5-4{
    background-position:37.5% 100%;
}
.left5-5{
    background-position:50% 100%;
}
.left5-6{
    background-position:62.5% 100%;
}
.left5-7{
    background-position:75% 100%;
}
.left5-8{
    background-position:87.5% 100%;
}
.left5-9{
    background-position:100% 100%;
}


.top1-1{
    background-position:0% 0%;
}
.top1-2{
    background-position:12.5% 0%;
}
.top1-3{
    background-position:25% 0%;
}
.top1-4{
    background-position:37.5% 0%;
}
.top1-5{
    background-position:50% 0%;
}
.top1-6{
    background-position:62.5% 0%;
}
.top1-7{
    background-position:75% 0%;
}
.top1-8{
    background-position:87.5% 0%;
}
.top1-9{
    background-position:100% 0%;
}

.top2-1{
    background-position:0% 25%;
}
.top2-2{
    background-position:12.5% 25%;
}
.top2-3{
    background-position:25% 25%;
}
.top2-4{
    background-position:37.5% 25%;
}
.top2-5{
    background-position:50% 25%;
}
.top2-6{
    background-position:62.5% 25%;
}
.top2-7{
    background-position:75% 25%;
}
.top2-8{
    background-position:87.5% 25%;
}
.top2-9{
    background-position:100% 25%;
}

.top3-1{
    background-position:0% 50%;
}
.top3-2{
    background-position:12.5% 50%;
}
.top3-3{
    background-position:25% 50%;
}
.top3-4{
    background-position:37.5% 50%;
}
.top3-5{
    background-position:50% 50%;
}
.top3-6{
    background-position:62.5% 50%;
}
.top3-7{
    background-position:75% 50%;
}
.top3-8{
    background-position:87.5% 50%;
}
.top3-9{
    background-position:100% 50%;
}

.top4-1{
    background-position:0% 75%;
}
.top4-2{
    background-position:12.5% 75%;
}
.top4-3{
    background-position:25% 75%;
}
.top4-4{
    background-position:37.5% 75%;
}
.top4-5{
    background-position:50% 75%;
}
.top4-6{
    background-position:62.5% 75%;
}
.top4-7{
    background-position:75% 75%;
}
.top4-8{
    background-position:87.5% 75%;
}
.top4-9{
    background-position:100% 75%;
}

.top5-1{
    background-position:0% 100%;
}
.top5-2{
    background-position:12.5% 100%;
}
.top5-3{
    background-position:25% 100%;
}
.top5-4{
    background-position:37.5% 100%;
}
.top5-5{
    background-position:50% 100%;
}
.top5-6{
    background-position:62.5% 100%;
}
.top5-7{
    background-position:75% 100%;
}
.top5-8{
    background-position:87.5% 100%;
}
.top5-9{
    background-position:100% 100%;
}




.right1-1{
    background-position:0% 0%;
}
.right1-2{
    background-position:12.5% 0%;
}
.right1-3{
    background-position:25% 0%;
}
.right1-4{
    background-position:37.5% 0%;
}
.right1-5{
    background-position:50% 0%;
}
.right1-6{
    background-position:62.5% 0%;
}
.right1-7{
    background-position:75% 0%;
}
.right1-8{
    background-position:87.5% 0%;
}
.right1-9{
    background-position:100% 0%;
}

.right2-1{
    background-position:0% 25%;
}
.right2-2{
    background-position:12.5% 25%;
}
.right2-3{
    background-position:25% 25%;
}
.right2-4{
    background-position:37.5% 25%;
}
.right2-5{
    background-position:50% 25%;
}
.right2-6{
    background-position:62.5% 25%;
}
.right2-7{
    background-position:75% 25%;
}
.right2-8{
    background-position:87.5% 25%;
}
.right2-9{
    background-position:100% 25%;
}

.right3-1{
    background-position:0% 50%;
}
.right3-2{
    background-position:12.5% 50%;
}
.right3-3{
    background-position:25% 50%;
}
.right3-4{
    background-position:37.5% 50%;
}
.right3-5{
    background-position:50% 50%;
}
.right3-6{
    background-position:62.5% 50%;
}
.right3-7{
    background-position:75% 50%;
}
.right3-8{
    background-position:87.5% 50%;
}
.right3-9{
    background-position:100% 50%;
}

.right4-1{
    background-position:0% 75%;
}
.right4-2{
    background-position:12.5% 75%;
}
.right4-3{
    background-position:25% 75%;
}
.right4-4{
    background-position:37.5% 75%;
}
.right4-5{
    background-position:50% 75%;
}
.right4-6{
    background-position:62.5% 75%;
}
.right4-7{
    background-position:75% 75%;
}
.right4-8{
    background-position:87.5% 75%;
}
.right4-9{
    background-position:100% 75%;
}

.right5-1{
    background-position:0% 100%;
}
.right5-2{
    background-position:12.5% 100%;
}
.right5-3{
    background-position:25% 100%;
}
.right5-4{
    background-position:37.5% 100%;
}
.right5-5{
    background-position:50% 100%;
}
.right5-6{
    background-position:62.5% 100%;
}
.right5-7{
    background-position:75% 100%;
}
.right5-8{
    background-position:87.5% 100%;
}
.right5-9{
    background-position:100% 100%;
}


.back1-1{
    background-position:0% 0%;
}
.back1-2{
    background-position:12.5% 0%;
}
.back1-3{
    background-position:25% 0%;
}
.back1-4{
    background-position:37.5% 0%;
}
.back1-5{
    background-position:50% 0%;
}
.back1-6{
    background-position:62.5% 0%;
}
.back1-7{
    background-position:75% 0%;
}
.back1-8{
    background-position:87.5% 0%;
}
.back1-9{
    background-position:100% 0%;
}

.back2-1{
    background-position:0% 25%;
}
.back2-2{
    background-position:12.5% 25%;
}
.back2-3{
    background-position:25% 25%;
}
.back2-4{
    background-position:37.5% 25%;
}
.back2-5{
    background-position:50% 25%;
}
.back2-6{
    background-position:62.5% 25%;
}
.back2-7{
    background-position:75% 25%;
}
.back2-8{
    background-position:87.5% 25%;
}
.back2-9{
    background-position:100% 25%;
}

.back3-1{
    background-position:0% 50%;
}
.back3-2{
    background-position:12.5% 50%;
}
.back3-3{
    background-position:25% 50%;
}
.back3-4{
    background-position:37.5% 50%;
}
.back3-5{
    background-position:50% 50%;
}
.back3-6{
    background-position:62.5% 50%;
}
.back3-7{
    background-position:75% 50%;
}
.back3-8{
    background-position:87.5% 50%;
}
.back3-9{
    background-position:100% 50%;
}

.back4-1{
    background-position:0% 75%;
}
.back4-2{
    background-position:12.5% 75%;
}
.back4-3{
    background-position:25% 75%;
}
.back4-4{
    background-position:37.5% 75%;
}
.back4-5{
    background-position:50% 75%;
}
.back4-6{
    background-position:62.5% 75%;
}
.back4-7{
    background-position:75% 75%;
}
.back4-8{
    background-position:87.5% 75%;
}
.back4-9{
    background-position:100% 75%;
}

.back5-1{
    background-position:0% 100%;
}
.back5-2{
    background-position:12.5% 100%;
}
.back5-3{
    background-position:25% 100%;
}
.back5-4{
    background-position:37.5% 100%;
}
.back5-5{
    background-position:50% 100%;
}
.back5-6{
    background-position:62.5% 100%;
}
.back5-7{
    background-position:75% 100%;
}
.back5-8{
    background-position:87.5% 100%;
}
.back5-9{
    background-position:100% 100%;
}



.bottom1-1{
    background-position:0% 0%;
}
.bottom1-2{
    background-position:12.5% 0%;
}
.bottom1-3{
    background-position:25% 0%;
}
.bottom1-4{
    background-position:37.5% 0%;
}
.bottom1-5{
    background-position:50% 0%;
}
.bottom1-6{
    background-position:62.5% 0%;
}
.bottom1-7{
    background-position:75% 0%;
}
.bottom1-8{
    background-position:87.5% 0%;
}
.bottom1-9{
    background-position:100% 0%;
}

.bottom2-1{
    background-position:0% 25%;
}
.bottom2-2{
    background-position:12.5% 25%;
}
.bottom2-3{
    background-position:25% 25%;
}
.bottom2-4{
    background-position:37.5% 25%;
}
.bottom2-5{
    background-position:50% 25%;
}
.bottom2-6{
    background-position:62.5% 25%;
}
.bottom2-7{
    background-position:75% 25%;
}
.bottom2-8{
    background-position:87.5% 25%;
}
.bottom2-9{
    background-position:100% 25%;
}


.bottom3-1{
    background-position:0% 50%;
}
.bottom3-2{
    background-position:12.5% 50%;
}
.bottom3-3{
    background-position:25% 50%;
}
.bottom3-4{
    background-position:37.5% 50%;
}
.bottom3-5{
    background-position:50% 50%;
}
.bottom3-6{
    background-position:62.5% 50%;
}
.bottom3-7{
    background-position:75% 50%;
}
.bottom3-8{
    background-position:87.5% 50%;
}
.bottom3-9{
    background-position:100% 50%;
}

.bottom4-1{
    background-position:0% 75%;
}
.bottom4-2{
    background-position:12.5% 75%;
}
.bottom4-3{
    background-position:25% 75%;
}
.bottom4-4{
    background-position:37.5% 75%;
}
.bottom4-5{
    background-position:50% 75%;
}
.bottom4-6{
    background-position:62.5% 75%;
}
.bottom4-7{
    background-position:75% 75%;
}
.bottom4-8{
    background-position:87.5% 75%;
}
.bottom4-9{
    background-position:100% 75%;
}

.bottom5-1{
    background-position:0% 100%;
}
.bottom5-2{
    background-position:12.5% 100%;
}
.bottom5-3{
    background-position:25% 100%;
}
.bottom5-4{
    background-position:37.5% 100%;
}
.bottom5-5{
    background-position:50% 100%;
}
.bottom5-6{
    background-position:62.5% 100%;
}
.bottom5-7{
    background-position:75% 100%;
}
.bottom5-8{
    background-position:87.5% 100%;
}
.bottom5-9{
    background-position:100% 100%;
}
